@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  font-family: var(--font-body), ui-sans-serif, system-ui;
}

h1,
h2,
h3 {
  font-family: var(--font-display), serif;
}
